@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);


@import "mixing.less";
@import "form.less";
@import "header.less";
@import "footer.less";

// var

@large: 980px;
@medium: 720px;
@small: 640px;


@font1 : 'Open Sans', sans-serif;
@font2: 'Ubuntu', sans-serif;

/* Base styles
   ========================= */

* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	font-family: @font2;
}

html {
	font-size: 16px;
	min-height: 100%;
	background: #fff;
	position: relative;

	@media  (min-width: @large) {
		background: url("../img/bg.jpg");
	}

}

body {

	@media  (min-width: @large) {
		background: url("../img/bg-content0.png") top center repeat-y;
	}
}

.container {
	width: 360px;
	margin-right: auto;
	margin-left: auto;
	position: relative;

	@media  (min-width: @small) {
		width: 590px;
	}

	@media  (min-width: @medium) {
		width: 640px;
	}

	@media  (min-width: @large) {
		width: 960px;
	}
}


.tabs {
	display: none;

	@media  (min-width: @large) {
		top: 0;
		left: 0;
		width: 59px;
		height: 100%;
		display: block;
		position: absolute;

		.tab1,
		.tab2 {
			width: 59px;
			height: 60px;
			cursor: pointer;
			position: absolute;
		}

		.tab1 {
			top: 0;
			background: #fff url("../img/sprites.png") 0 0 no-repeat;
		}

		.tab2 {
			top: 60px;
			background: #81755e url("../img/sprites.png") 0 -60px no-repeat;
		}
	}
}

.breadcrumbs {
	padding: 0;
	line-height: normal;
	list-style: none;
	margin: 0 0 12px 0;

	li {
		color: #505151;
		font-size: 14px;
		font-weight: 600;
		padding-left: 0 !important;
		margin-bottom: 0 !important;
		display: inline;

		a {
			color: #505151;
			text-decoration: underline;
		}
		a:hover {
			text-decoration: none;
		}

		&:after {
			display: none !important;
		}
	}

	>li+li:before {
		content: "→";
		color: #868686;
		padding: 0 5px;
		text-decoration: none;
	}
}

.content {
	z-index: 5;
	background: #fff;
	position: relative;
	line-height: 1.25;
	padding: 20px 20px 50px 20px;


	@media  (min-width: @large) {
		margin-top: 5px;
		margin-left: 59px;
		margin-right: 13px;
		padding-top: 60px;
		.box-shadow( 0px 0px 5px 0px rgba(0, 0, 0, 0.26));

	}

	.row {
		margin-bottom: 10px;

		.col {
			width: 100%;
			float: left;
		}

		@media  (min-width: @small) {
			margin-left: -16px;
			margin-right: -16px;

			&.album {

				.col {
					width: 50%;
				}
			}

			.col {
				padding: 0 15px;
			}

		}

		@media  (min-width: @medium) {
			margin-left: -20px;
			margin-right: -20px;

			.col {
				float: left;
				width: 50%;
				padding: 0 20px;
			}
		}

		@media  (min-width: @large) {
			margin-left: -25px;
			margin-right: -25px;

			.col {
				padding: 0 25px;
			}
		}
	}

	.post-image {
		margin-bottom: 28px;

		@media  (min-width: @small) {
			margin-bottom: 28px;
		}

		@media  (min-width: @medium) {
			margin-bottom: 32px;
		}

	}

	.album-filter {
		margin-bottom: 25px;

		li {
			font-size: 18px;
			font-weight: 700;
			line-height: 18px;
			margin-right: 18px;
			display: inline-block;

			a {
				color: #93866b;
				text-decoration: underline;

				&:hover {
					color: #505151;
				}
			}

			&.active {
				a {
					color: #505151;
				}
			}
		}
	}

	.content-footer {
		padding-top: 20px;
		margin-top: 40px;
		border-top: 1px solid #cccccc;

		.post-date {
			color: #999;
			font-size: 14px;
			line-height: 18px;
			font-style: italic;
			margin-bottom: 30px;
		}

		.social-block {

			li {
				float: left;
				width: 150px;
				height: 40px;
				text-align: center;

				&:last-child {
					width: 100px;
				}
			}
		}
	}

	ul {
		line-height: 1.125;
		margin-bottom: 20px;

		li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 22px;

			&:after {
				top: 10px;
				left: 6px;
				width: 3px;
				height: 3px;
				content: "";
				position: absolute;
				background: #7a609c;
			}
		}

		&.clear {

			li {
				padding-left: 0;
				margin-bottom: 0;

				&:after {
					display: none;
				}
			}
		}
	}

	ol {
		counter-reset: li;
		line-height: 1.125;
		margin-bottom: 20px;

		li {
			position: relative;
			padding-left: 20px;
			margin-bottom: 22px;

			&:after {
				top: 0;
				left: 1px;
				color: #7a609c;
				font-weight: 700;
				text-align: left;
				font-size: inherit;
				position: absolute;
				content: counter(li)".";
				counter-increment: li;
			}
		}
	}
}

.tiles {
	margin: 0 -15px -15px -15px;

	.tile {
		float: left;
		padding: 10px;
		position: relative;
		margin: 0 6px 15px 6px;
		background: url("../img/tiles.jpg") no-repeat;
		.box-shadow(-1px -3px 4px 1px rgba(102, 102, 102, 0.3));

		.tile-inner {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			background: #000;

			&.img2 {
				background: url("../images/img_tile2s.jpg") 0 0 no-repeat;
				background-size: cover;
			}
			&.img3 {
				background: url("../images/img_tile3s.jpg")  100% 100% no-repeat;
				background-size: cover;
			}
			&.img4 {
				background: url("../images/img_tile4xm.jpg") 0 0 no-repeat;
				background-size: cover;
			}
			&.img5 {
				background: url("../images/img_tile5l.jpg") 0 0 no-repeat;
				background-size: cover;
			}
			&.img6 {
				background: url("../images/img_tile6l.jpg") 0 0 no-repeat;
				background-size: cover;
			}
			&.img7 {
				background: url("../images/img_tile7l.jpg") 0 0 no-repeat;
				background-size: cover;
			}
			&.img8 {
				background: url("../images/img_tile8l.jpg") 0 0 no-repeat;
				background-size: cover;
			}
			&.img9 {
				background: url("../images/img_tile9l.jpg") 0 0 no-repeat;
				background-size: cover;
			}
			&.img10 {
				background: url("../images/img_tile10l.jpg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		.tile-text {
			color: #fff;
			width: 100%;
			height: 100%;
			padding: 10px 20px;
			overflow: hidden;
			position: absolute;

			h1 {
				color: #fff;
				padding: 0;
				margin: 0 50px 0 -10px;
				font: 700 20px @font2;
				text-transform: uppercase;
			}

			h4 {
				color: #fff;
				padding: 0;
				max-width: 140px;
				margin: 3px 0 10px 0;
				font: 700 18px @font2;
			}

			.title {
				margin-bottom: 8px;
				text-transform: uppercase;
				font: 700 24px/36px @font2;

				a {
					color: #fff;
					text-decoration: none;
				}
			}

			.tile-divider {
				width: 80px;
				margin-bottom: 15px;
				border-top: 2px solid #fff;
			}

			p {
				width: 200px;
				height: 40px;
				overflow: hidden;
				margin-bottom: 0;
				font: 400 12px @font2;
			}

			.btn-more {
				left: 20px;
				bottom: 20px;
				position: absolute;
			}
		}

		&.tile-xl {
			width: 338px;
			height: 220px;
			background-position: 0 0;

			.tile-img {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				background: url("../images/tile-xl_small.png") 0 0 no-repeat;
			}
		}

		&.tile-l {
			width: 338px;
			height: 160px;
			background-position: 0 -220px;
		}

		&.tile-m {
			width: 338px;
			height: 160px;
			background-position: 0 -220px;
		}

		&.tile-xs {
			width: 163px;
			height: 220px;
			background-position: -338px 0;
		}
	}

	@media  (min-width: @small) {
		margin: 0 -5px -10px -5px;

		.tile {
			margin: 0 5px 10px 5px;
			.box-shadow(-1px 3px 4px 0px rgba(0, 0, 0, 0.3));

			.tile-inner {
				&.img2 {
					background: url("../images/img_tile2xl.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img3 {
					background: url("../images/img_tile3xl.jpg")  100% 100% no-repeat;
					background-size: cover;
				}
				&.img4 {
					background: url("../images/img_tile4xl.jpg") 0 0 no-repeat;

				}
				&.img5 {
					background: url("../images/img_tile5l.jpg") 0 0 no-repeat;
					background-size: auto;
				}
				&.img6 {
					background: url("../images/img_tile6l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img7 {
					background: url("../images/img_tile7l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img8 {
					background: url("../images/img_tile8l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img9 {
					background: url("../images/img_tile9l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img10 {
					background: url("../images/img_tile10l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			.tile-text {

				h1 {
					font-size: 36px;
					margin: 5px 60px 0 0;
				}

				h4 {
					max-width: 180px;
					font-size: 24px;
					line-height: 24px;
					text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.35);
				}

				.title {
					font-size: 36px;
					margin: 6px 0 15px 0;
				}

				.tile-divider {
					width: 80px;
					margin-bottom: 15px;
					border-top: 2px solid #fff;
				}

				p {
					width: 320px;
					height: auto;
					font-size: 14px;
				}

				.btn-more {
					left: auto;
					right: 17px;
					bottom: 15px;
				}
			}

			&.tile-xl {
				width: 548px;
				height: 350px;
				background-position: 0 -400px;

				.tile-img {
					background: url("../images/tile-xl_med.png") 0 0 no-repeat;
				}
			}

			&.tile-l {
				width: 548px;
				height: 320px;
				background-position: 0 -750px;
			}

			&.tile-m {
				width: 548px;
				height: 220px;
				background-position: 0 -1070px;
			}

			&.tile-xs {
				width: 270px;
				height: 340px;
				background-position: -560px -990px;
			}
		}
	}

	@media  (min-width: @medium) {
		margin: 0 -18px 0 -18px;

		.tile {
			margin: 0 9px 10px 9px;
			.box-shadow(0px -3px 4px 0px rgba(102, 102, 102, 0.3));

			.tile-inner {
				&.img2 {
					background: url("../images/img_tile2xl.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img3 {
					background: url("../images/img_tile3m.jpg")  100% 100% no-repeat;
					background-size: cover;
				}
				&.img4 {
					background: url("../images/img_tile4xm.jpg") 0 0 no-repeat;

				}
				&.img5 {
					background: url("../images/img_tile5l.jpg") 0 0 no-repeat;
					background-size: auto;
				}
				&.img6 {
					background: url("../images/img_tile6l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img7 {
					background: url("../images/img_tile7l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img8 {
					background: url("../images/img_tile8l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img9 {
					background: url("../images/img_tile9l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img10 {
					background: url("../images/img_tile10l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			.tile-text {
				z-index: 10;

				h1 {
					font-size: 30px;
					margin-left: 10px;
					margin-right: 130px;
				}

				h4 {
					max-width: 180px;
					font-size: 24px;
					line-height: 24px;
					text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.35);
				}

				.title {
					font-size: 24px;
					margin: 6px 0 15px 10px;
				}

				.tile-divider {
					width: 80px;
					margin-left: 10px;
					margin-bottom: 15px;
					border-top: 2px solid #fff;
				}

				p {
					width: 320px;
					margin-left: 10px;
				}
			}

			&.tile-xl {
				width: 618px;
				height: 260px;
				background-position: -560px 0;

				.tile-img {
					z-index: 1;
					background: url("../images/tile-xl_large.jpg") 0 0 no-repeat;
				}
			}

			&.tile-l {
				width: 618px;
				height: 190px;
				background-position: -830px -990px;
			}

			&.tile-m {
				width: 618px;
				height: 200px;
				background-position: -1178px 0;
			}

			&.tile-xs {
				width: 193px;
				height: 230px;
				background-position: -1796px 0;
			}
		}
	}

	@media  (min-width: @large) {
		margin: 0 -8px -10px -8px;

		.tile {
			margin: 0 8px 15px 8px;
			.box-shadow(-1px 3px 4px 0px rgba(0, 0, 0, 0.3));

			.tile-inner {
				&.img2 {
					background: url("../images/img_tile2l.jpg") 0 0 no-repeat;
				}
				&.img3 {
					background: url("../images/img_tile3l.jpg")  0 0  no-repeat;
					background-size: cover;
				}
				&.img4 {
					background: url("../images/img_tile4xl.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img5 {
					background: url("../images/img_tile5l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img6 {
					background: url("../images/img_tile6l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img7 {
					background: url("../images/img_tile7l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img8 {
					background: url("../images/img_tile8l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img9 {
					background: url("../images/img_tile9l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
				&.img10 {
					background: url("../images/img_tile10l.jpg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			.tile-text {
				z-index: 10;

				h1 {
					font-size: 36px;
					margin-left: 5px;
					padding-top: 8px;
					margin-right: 280px;
				}

				h4 {
					max-width: 180px;
					font-size: 24px;
					line-height: 24px;
					text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.35);
				}

				.title {
					font-size: 24px;
					margin: 6px 0 15px 0;
				}

				.tile-divider {
					width: 80px;
					margin-left: 0;
					margin-bottom: 15px;
					border-top: 2px solid #fff;
				}

				p {
					width: 200px;
					font-size: 12px;
					line-height: 15px;
					margin-left: 0;
				}
			}

			&.tile-xl {
				width: 848px;
				height: 330px;
				background-position: -560px -400px;

				.tile-img {
					z-index: 1;
					background: url("../images/tile-xl_extra.jpg") 0 0 no-repeat;
				}
			}

			&.tile-l {
				width: 415px;
				height: 240px;
				background-position: -560px -750px;
			}

			&.tile-m {
				width: 415px;
				height: 200px;
				background-position: -1175px -750px;
			}

			&.tile-xs {
				width: 200px;
				height: 240px;
				background-position: -975px -750px;
			}
		}
	}
}

.thumbnail {
	width: 100%;
	overflow: hidden;
	position: relative;
	font-size: 16px;
	margin-bottom: 30px;
	font-family: @font2;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;

	.thumbnail-image {
		padding: 3px;
		display: block;
		cursor: pointer;
		border: 1px solid #ccc;
		margin-bottom: 15px;
	}

	h4 {
		margin-bottom: 13px;
	}

	.album-count {
		color: #989898;
		padding-left: 25px;
		margin-bottom: 5px;
		font: italic 14px/18px @font2;
		background: url("../img/icon-photo.png") left center no-repeat;
	}

	.album-date {
		color: #989898;
		padding-left: 25px;
		margin-bottom: 5px;
		font: italic 14px/18px @font2;
		background: url("../img/icon-calendar.png") left center no-repeat;
	}

	p {
		margin-bottom: 0;
		line-height: 20px;
	}
}

.news-thumbnail {
	padding-bottom: 30px;
	margin-bottom: 25px;
	font-family: @font2;
	font-size: 16px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #ccc;

	.thumbnail-image {
		padding: 3px;
		display: block;
		cursor: pointer;
		border: 1px solid #ccc;
		margin-bottom: 15px;
	}

	h4 {
		margin-bottom: 13px;
	}

	.news-date {
		color: #989898;
		margin-bottom: 10px;
		font: italic 14px/18px @font2;
	}

	p {
		margin-bottom: 0;
		line-height: 20px;
	}
}

.visible-large {
	display: none;

	@media  (min-width: @large) {
		display: block;
	}
}

.hidden-large  {

	@media  (min-width: @large) {
		display: none;
	}
}





/* Typography
   ========================= */

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	color: #303030;
	font-weight: 600;
	font-family: @font2;
}

h1 {
	color: #303030;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 15px;

	@media  (min-width: @large) {
		font-size: 40px;
		line-height: normal;
	}
 }


h3 {
	color: #7a609c;
	font-size: 21px;
	padding-top: 18px;
	line-height: normal;
	margin-bottom: 20px;
}

h4 {
	color: #303030;
	font-size: 18px;
	line-height: normal;
	margin-bottom: 10px;

	a {
		color: #736099;
		text-decoration: none;
		border-bottom: 1px solid #e0dde8;
	}
}

p {
	padding: 0;
	margin: 0 0 20px 0;
}

a {

}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.text-center {
	text-align: center !important;
}
