@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
@media (min-width: 960px) {
  .header {
    height: 95px;
    padding-top: 10px;
  }
  .header .logo {
    float: left;
    width: 230px;
    height: 71px;
    margin-left: 30px;
    background: url("../img/logo.png") 0 0 no-repeat;
  }
  .header .header-phone {
    float: left;
    width: 210px;
    height: 60px;
    color: #4e4b47;
    font-size: 18px;
    font-weight: 600;
    margin-left: 35px;
    line-height: 60px;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: url("../img/header-phone.png") left center no-repeat;
  }
  .header .header-map {
    float: left;
    width: 240px;
    color: #4e4b47;
    font-size: 12px;
    font-weight: 600;
    padding-top: 22px;
    margin-left: 23px;
    padding-left: 24px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    background: url("../img/header-map.png") left center no-repeat;
  }
  .header .header-map span {
    display: block;
    margin-bottom: 5px;
  }
  .header .header-map a {
    color: #282a2b;
    height: 20px;
    text-decoration: none;
    display: inline-block;
    background: url("../img/header-map-link.png") 0 17px no-repeat;
  }
  .header .btn-card {
    float: right;
    outline: none;
    color: #686053;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    line-height: 14px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: 14px 13px 0 0;
    text-decoration: none;
    display: inline-block;
    padding: 4px 4px 3px 4px;
    text-transform: uppercase;
    background: rgba(72, 64, 46, 0.3);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.13);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .header .btn-card span {
    position: relative;
    display: inline-block;
    padding: 10px 19px 10px 49px;
    background: #e1d8c8;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZDhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ViZTRkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWYwZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1d8c8), color-stop(50%, #ebe4d7), color-stop(100%, #f5f0e7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1d8c8', endColorstr='#f5f0e7', GradientType=0);
    /* IE6-8 */
    -webkit-box-shadow: inset 0px 1px 0px 0px #f2ecdc;
    -moz-box-shadow: inset 0px 1px 0px 0px #f2ecdc;
    box-shadow: inset 0px 1px 0px 0px #f2ecdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .header .btn-card i {
    top: 6px;
    left: 15px;
    width: 21px;
    height: 19px;
    position: absolute;
    background: url("../img/header-card.png") 0 0 no-repeat;
  }
  .header .btn-card:active {
    top: 1px;
  }
}
.topnav ul {
  width: 980px;
  height: 40px;
  display: table;
}
.topnav ul li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: table-cell;
}
.topnav ul li a {
  color: #fff;
  text-decoration: none;
}
.topnav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 14px;
  min-height: 100%;
  position: relative;
  background: url("../img/bg.jpg");
}
body {
  min-height: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 960px) {
  .page {
    background: url("../img/bg-content0.png") top center repeat-y;
  }
  .page .tabs {
    top: 0;
    left: 0;
    width: 59px;
    height: 100%;
    position: absolute;
    background: url("../img/pattern1.png");
  }
  .page .tabs .tab1,
  .page .tabs .tab2 {
    width: 59px;
    height: 60px;
    cursor: pointer;
    position: absolute;
  }
  .page .tabs .tab1 {
    top: 0;
    background: #ffffff url("../img/sprites.png") 0 0 no-repeat;
  }
  .page .tabs .tab2 {
    top: 60px;
    background: #81755e url("../img/sprites.png") 0 -60px no-repeat;
  }
}
.content {
  height: 1100px;
  z-index: 5;
  background: #fff;
  margin-left: 59px;
  margin-right: 13px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
}
@media (min-width: 960px) {
  .footer {
    height: 250px;
    padding: 160px 13px 0 59px;
    background: url("../img/footer_bg.png") top right no-repeat;
  }
  .footer .footer-title {
    height: 32px;
    color: #625d53;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    border-color: transparent;
    text-transform: uppercase;
    text-shadow: 0px -1px 1px rgba(152, 140, 117, 0.5);
  }
  .footer .social {
    float: left;
    width: 185px;
    margin-left: 19px;
  }
  .footer .social ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer .social li {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 13px;
    background: url("../img/sprites.png") 0 -120px no-repeat;
  }
  .footer .social li:last-child {
    margin-right: 0;
  }
  .footer .social li a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
  }
  .footer .social li a.in {
    background: url("../img/sprites.png") -36px -120px no-repeat;
  }
  .footer .social li a.tw {
    background: url("../img/sprites.png") -108px -120px no-repeat;
  }
  .footer .social li a.youtube {
    background: url("../img/sprites.png") -72px -120px no-repeat;
  }
  .footer .social li a.fb {
    background: url("../img/sprites.png") -144px -120px no-repeat;
  }
  .footer .footer-phone {
    float: left;
    width: 160px;
    margin-left: 85px;
    position: relative;
  }
  .footer .footer-phone span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 1px 1px #988c75;
  }
  .footer .footer-phone i {
    top: 35px;
    left: -32px;
    width: 21px;
    height: 21px;
    position: absolute;
    background: url("../img/footer-phone.png") 0 0 no-repeat;
  }
  .footer .footer-email {
    float: left;
    width: 160px;
    margin-left: 80px;
    position: relative;
  }
  .footer .footer-email a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #988c75;
  }
  .footer .footer-email i {
    top: 35px;
    left: -32px;
    width: 21px;
    height: 16px;
    position: absolute;
    background: url("../img/footer-mail.png") 0 0 no-repeat;
  }
  .footer .footer-www {
    float: right;
    width: 140px;
    position: relative;
  }
  .footer .footer-www a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #988c75;
  }
  .footer .footer-www i {
    top: 35px;
    left: -32px;
    width: 22px;
    height: 22px;
    position: absolute;
    background: url("../img/footer-www.png") 0 0 no-repeat;
  }
}
/* Typography
   ========================= */
p {
  padding: 0;
  margin: 0 0 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-center {
  text-align: center !important;
}
