@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);


@import "mixing.less";
@import "form.less";
@import "header.less";
@import "footer.less";

// var

@large: 980px;
@medium: 720px;
@small: 640px;


@font1 : 'Open Sans', sans-serif;
@font2: 'Ubuntu', sans-serif;

/* Base styles
   ========================= */

* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	font-family: @font1;
}

html {
	font-size: 14px;
	min-height: 100%;
	background: #fff;
	position: relative;

	@media  (min-width: @large) {
		background: url("../img/bg.jpg");
	}

}

body {

	@media  (min-width: @large) {
		background: url("../img/bg-content0.png") top center repeat-y;
	}
}

.container {
	width: 360px;
	margin-right: auto;
	margin-left: auto;
	position: relative;

	@media  (min-width: @small) {
		width: 590px;
	}

	@media  (min-width: @medium) {
		width: 640px;
	}

	@media  (min-width: @large) {
		width: 960px;
	}
}


.tabs {
	display: none;

	@media  (min-width: @large) {
		top: 0;
		left: 0;
		width: 59px;
		height: 100%;
		display: block;
		position: absolute;

		.tab1,
		.tab2 {
			width: 59px;
			height: 60px;
			cursor: pointer;
			position: absolute;
		}

		.tab1 {
			top: 0;
			background: #fff url("../img/sprites.png") 0 0 no-repeat;
		}

		.tab2 {
			top: 60px;
			background: #81755e url("../img/sprites.png") 0 -60px no-repeat;
		}
	}
}

.content {
	z-index: 5;
	background: #fff;
	position: relative;
	padding: 20px;


	@media  (min-width: @large) {
		margin-top: 5px;
		margin-left: 59px;
		margin-right: 13px;
		padding-top: 63px;
		.box-shadow( 0px 0px 5px 0px rgba(0, 0, 0, 0.26));
	}
}

.tiles {
	margin: 0 -15px -15px -15px;

	.tile {
		float: left;
		padding: 10px;
		position: relative;
		margin: 0 6px 15px 6px;
		background: url("../img/tiles.jpg") no-repeat;
		.box-shadow(-1px -3px 4px 1px rgba(102, 102, 102, 0.3));

		.tile-inner {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			background: #000;
		}

		.tile-text {
			width: 100%;
			height: 100%;
			padding: 10px;
			overflow: hidden;
			position: absolute;

			h1 {
				color: #fff;
				padding: 0;
				margin: 0 50px 0 0;
				font: 700 20px @font2;
				text-transform: uppercase;
			}
		}

		&.tile-xl {
			width: 338px;
			height: 220px;
			background-position: 0 0;

			img {
				width: 100%;
				height: 100%;
				z-index: 10;
				display: block;
				position: absolute;
			}
		}

		&.tile-l {
			width: 338px;
			height: 160px;
			background-position: 0 -220px;
		}

		&.tile-m {
			width: 338px;
			height: 160px;
			background-position: 0 -220px;
		}

		&.tile-xs {
			width: 163px;
			height: 220px;
			background-position: -338px 0;
		}
	}

	@media  (min-width: @small) {
		margin: 0 -5px -10px -5px;

		.tile {
			margin: 0 5px 10px 5px;
			.box-shadow(-1px 3px 4px 0px rgba(0, 0, 0, 0.3));

			.tile-text {

				h1 {
					font-size: 36px;
					margin-right: 80px;
				}
			}

			&.tile-xl {
				width: 548px;
				height: 350px;
				background-position: 0 -400px;
			}

			&.tile-l {
				width: 548px;
				height: 320px;
				background-position: 0 -750px;
			}

			&.tile-m {
				width: 548px;
				height: 220px;
				background-position: 0 -1070px;
			}

			&.tile-xs {
				width: 270px;
				height: 340px;
				background-position: -560px -990px;
			}
		}
	}

	@media  (min-width: @medium) {
		margin: 0 -18px -10px -18px;

		.tile {
			margin: 0 9px 10px 9px;
			.box-shadow(0px -3px 4px 0px rgba(102, 102, 102, 0.3));

			.tile-text {

				h1 {
					font-size: 30px;
					margin-right: 160px;
				}
			}

			&.tile-xl {
				width: 618px;
				height: 260px;
				background-position: -560px 0;
			}

			&.tile-l {
				width: 618px;
				height: 200px;
				background-position: -1178px 0;
			}

			&.tile-m {
				width: 618px;
				height: 200px;
				background-position: -1178px 0;
			}

			&.tile-xs {
				width: 193px;
				height: 230px;
				background-position: -1796px 0;
			}
		}
	}

	@media  (min-width: @large) {
		margin: 0 -8px -10px -8px;

		.tile {
			margin: 0 8px 15px 8px;
			.box-shadow(-1px 3px 4px 0px rgba(0, 0, 0, 0.3));

			.tile-text {

				h1 {
					font-size: 36px;
					margin-right: 320px;
				}
			}

			&.tile-xl {
				width: 848px;
				height: 330px;
				background-position: -560px -400px;
			}

			&.tile-l {
				width: 415px;
				height: 240px;
				background-position: -560px -750px;
			}

			&.tile-m {
				width: 415px;
				height: 200px;
				background-position: -1175px -750px;
			}

			&.tile-xs {
				width: 200px;
				height: 240px;
				background-position: -975px -750px;
			}
		}
	}

	.extrasmall {

		@media  (min-width: @small) {
			display: none;
		}
	}

	.medium {
		display: none;

		@media  (min-width: @small) {
			display: block;
		}

		@media  (min-width: @medium) {
			display: none;
		}
	}
}

.tiles1 {
	margin-right: -10px;

	h4,
	.tile-text,
	.btn-more {
		display: none;
	}

	.tile {
		float: left;
		color: #fff;
		background: #000;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
		border: 10px solid #eb8f00;
		.box-shadow(-1px 3px 4px 0px rgba(0, 0, 0, 0.3));

		&.tile-xl {
			width: 338px;
			height: 220px;
		}

		&.tile-l {
			width: 338px;
			height: 160px;
		}

		&.tile-m {
			width: 338px;
			height: 160px;
		}

		&.tile-s{
			width: 163px;
			height: 210px;
			margin-right: 10px;
		}
	}

	@media  (min-width: @small) {
		.tile {

			&.tile-xl {
				width: 550px;
				height: 350px;
			}

			&.tile-l {
				width: 550px;
				height: 320px;
			}

			&.tile-m {
				width: 550px;
				height: 220px;
			}

			&.tile-s{
				width: 270px;
				height: 340px;
				margin-right: 10px;
			}
		}
	}

	@media  (min-width: @medium) {
		margin-left: -10px;

		.tile {
			margin-bottom: 15px;

			&.tile-xl {
				width: 618px;
				height: 260px;
				margin-left: 10px;
			}

			&.tile-l {
				width: 618px;
				height: 200px;
				margin-left: 10px;
			}

			&.tile-m {
				width: 618px;
				height: 190px;
				margin-left: 10px;
			}

			&.tile-s{
				width: 193px;
				height: 230px;
				margin-right: 10px;
				margin-left: 9px;
			}
		}
	}

	@media  (min-width: @large) {
		margin-left: 0;
		margin-right: -15px;

		.tile {
			margin-right: 14px;
			margin-bottom: 16px;

			&.tile-xl {
				width: 846px;
				height: 330px;
				margin-left: 0;
			}

			&.tile-l {
				width: 416px;
				height: 240px;
				margin-left: 0;
			}

			&.tile-m {
				width: 416px;
				height: 200px;
				margin-left: 0;
			}

			&.tile-s{
				width: 200px;
				height: 240px;
				margin-left: 0;
				margin-right: 14px;
			}
		}
	}
}


.visible-large {
	display: none;

	@media  (min-width: @large) {
		display: block;
	}
}

.hidden-large  {

	@media  (min-width: @large) {
		display: none;
	}
}





/* Typography
   ========================= */

h1, h2, h3, h4 {

}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

a {

}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.text-center {
	text-align: center !important;
}
