/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 14px;
  min-height: 100%;
  line-height: 1.4;
  position: relative;
}
body {
  margin-bottom: 240px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.container {
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.footer {
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 200px;
  position: absolute;
}
.topnav ul {
  width: 980px;
  height: 40px;
  display: table;
}
.topnav ul li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: table-cell;
}
.topnav ul li a {
  color: #fff;
  text-decoration: none;
}
.topnav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
/* Typography
   ========================= */
p {
  padding: 0;
  margin: 0 0 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-center {
  text-align: center !important;
}
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
