@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Buttons */
.btn-more {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  background: #b1ab63;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxYWI2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2YxZTliYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWVlYmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #b1ab63 0%, #f1e9ba 80%, #f5eebe 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1ab63), color-stop(80%, #f1e9ba), color-stop(100%, #f5eebe));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b1ab63 0%, #f1e9ba 80%, #f5eebe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b1ab63 0%, #f1e9ba 80%, #f5eebe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b1ab63 0%, #f1e9ba 80%, #f5eebe 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b1ab63 0%, #f1e9ba 80%, #f5eebe 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1ab63', endColorstr='#f5eebe', GradientType=0);
  /* IE6-8 */
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-more span {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url("../img/btn-more.png") center no-repeat;
  -webkit-box-shadow: inset 0px 0px 3px 0px #fefaf3;
  -moz-box-shadow: inset 0px 0px 3px 0px #fefaf3;
  box-shadow: inset 0px 0px 3px 0px #fefaf3;
}
@media (min-width: 960px) {
  .header {
    height: 95px;
    padding-top: 10px;
  }
  .header .logo {
    float: left;
    width: 230px;
    height: 71px;
    margin-left: 30px;
    background: url("../img/logo.png") 0 0 no-repeat;
  }
  .header .header-phone {
    float: left;
    width: 210px;
    height: 60px;
    color: #4e4b47;
    font-size: 18px;
    font-weight: 600;
    margin-left: 35px;
    line-height: 60px;
    padding-left: 30px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: url("../img/header-phone.png") left center no-repeat;
  }
  .header .header-map {
    float: left;
    width: 240px;
    color: #4e4b47;
    font-size: 12px;
    font-weight: 600;
    padding-top: 22px;
    margin-left: 23px;
    padding-left: 24px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    background: url("../img/header-map.png") left center no-repeat;
  }
  .header .header-map span {
    display: block;
    margin-bottom: 5px;
  }
  .header .header-map a {
    color: #282a2b;
    height: 20px;
    text-decoration: none;
    display: inline-block;
    background: url("../img/header-map-link.png") 0 17px no-repeat;
  }
  .header .btn-card {
    float: right;
    outline: none;
    color: #686053;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    line-height: 14px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: 14px 13px 0 0;
    text-decoration: none;
    display: inline-block;
    padding: 4px 4px 3px 4px;
    text-transform: uppercase;
    background: rgba(72, 64, 46, 0.3);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.13);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .header .btn-card span {
    position: relative;
    display: inline-block;
    padding: 10px 19px 10px 49px;
    background: #e1d8c8;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxZDhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ViZTRkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWYwZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1d8c8), color-stop(50%, #ebe4d7), color-stop(100%, #f5f0e7));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e1d8c8 0%, #ebe4d7 50%, #f5f0e7 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1d8c8', endColorstr='#f5f0e7', GradientType=0);
    /* IE6-8 */
    -webkit-box-shadow: inset 0px 1px 0px 0px #f2ecdc;
    -moz-box-shadow: inset 0px 1px 0px 0px #f2ecdc;
    box-shadow: inset 0px 1px 0px 0px #f2ecdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .header .btn-card i {
    top: 6px;
    left: 15px;
    width: 21px;
    height: 19px;
    position: absolute;
    background: url("../img/header-card.png") 0 0 no-repeat;
  }
  .header .btn-card:active {
    top: 1px;
  }
}
@media (min-width: 960px) {
  .topnav {
    top: 85px;
    left: 59px;
    right: 13px;
    height: 48px;
    z-index: 999;
    position: absolute;
  }
}
.topnav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  list-style: none;
}
.topnav ul li {
  height: 49px;
  line-height: 49px;
  text-align: center;
  display: table-cell;
  position: relative;
  background: url("../img/bg_topnav.jpg") -5px 0 no-repeat;
}
.topnav ul li:after {
  top: 0;
  content: "";
  right: -19px;
  width: 23px;
  height: 49px;
  z-index: 1000;
  position: absolute;
  background: url("../img/topnav_shadow.png") 0 0 no-repeat;
}
.topnav ul li:first-child {
  background-position: 0 0;
}
.topnav ul li:first-child.active {
  border-left: 1px solid #fff;
}
.topnav ul li:first-child.active:before {
  display: none;
}
.topnav ul li:last-child {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.topnav ul li:last-child::after {
  display: none !important;
}
.topnav ul li a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);
}
.topnav ul li a:hover {
  color: #f7cb33;
  text-decoration: none;
}
.topnav ul li.active {
  z-index: 1002;
  background: url("../img/topnav_active.png") 0 0 repeat-x;
}
.topnav ul li.active:before {
  top: 0;
  content: "";
  left: -19px;
  width: 23px;
  height: 49px;
  z-index: 1000;
  position: absolute;
  background: url("../img/topnav_shadow-active.png") 0 0 no-repeat;
}
.topnav ul li.active a {
  color: #282a2b;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 14px;
  min-height: 100%;
  position: relative;
  background: url("../img/bg.jpg");
}
body {
  min-height: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 960px) {
  .page {
    background: url("../img/bg-content0.png") top center repeat-y;
  }
  .page .tabs {
    top: 0;
    left: 0;
    width: 59px;
    height: 100%;
    position: absolute;
    background: url("../img/pattern1.png");
  }
  .page .tabs .tab1,
  .page .tabs .tab2 {
    width: 59px;
    height: 60px;
    cursor: pointer;
    position: absolute;
  }
  .page .tabs .tab1 {
    top: 0;
    background: #ffffff url("../img/sprites.png") 0 0 no-repeat;
  }
  .page .tabs .tab2 {
    top: 60px;
    background: #81755e url("../img/sprites.png") 0 -60px no-repeat;
  }
}
.content {
  z-index: 5;
  background: #fff;
  margin-left: 59px;
  margin-right: 13px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
}
@media (min-width: 960px) {
  .content {
    margin-top: 5px;
    padding: 63px 20px 0 20px;
  }
}
@media (min-width: 960px) {
  .tiles {
    margin-right: -15px;
  }
  .tiles .tile {
    float: left;
    color: #fff;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin-right: 14px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-image: url("../img/tiles.jpg");
    -webkit-box-shadow: -1px 3px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 3px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 3px 4px 0px rgba(0, 0, 0, 0.3);
  }
  .tiles .tile h4 {
    margin: 0;
    padding: 0;
    top: 25px;
    left: 30px;
    width: 160px;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
  }
  .tiles .tile .btn-more {
    right: 27px;
    bottom: 25px;
    position: absolute;
  }
  .tiles .tile-xl {
    width: 846px;
    height: 330px;
    background-position: 0 0;
  }
  .tiles .tile-l {
    width: 416px;
    height: 240px;
    background-position: 0 -330px;
  }
  .tiles .tile-m {
    width: 416px;
    height: 200px;
    background-position: 0 -570px;
  }
  .tiles .tile-m h4 {
    top: 38px;
    width: auto;
    text-transform: uppercase;
  }
  .tiles .tile-m .tile-text {
    top: 90px;
    left: 30px;
    width: 200px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    position: absolute;
  }
  .tiles .tile-s {
    width: 200px;
    height: 240px;
    background-position: -416px -330px;
  }
}
@media (min-width: 960px) {
  .footer {
    height: 250px;
    padding: 160px 13px 0 59px;
    background: url("../img/footer_bg.png") top right no-repeat;
  }
  .footer .footer-title {
    height: 32px;
    color: #625d53;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    border-color: transparent;
    text-transform: uppercase;
    text-shadow: 0px -1px 1px rgba(152, 140, 117, 0.5);
  }
  .footer .social {
    float: left;
    width: 185px;
    margin-left: 19px;
  }
  .footer .social ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer .social li {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 13px;
    background: url("../img/sprites.png") 0 -120px no-repeat;
  }
  .footer .social li:last-child {
    margin-right: 0;
  }
  .footer .social li a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
  }
  .footer .social li a.in {
    background: url("../img/sprites.png") -36px -120px no-repeat;
  }
  .footer .social li a.tw {
    background: url("../img/sprites.png") -108px -120px no-repeat;
  }
  .footer .social li a.youtube {
    background: url("../img/sprites.png") -72px -120px no-repeat;
  }
  .footer .social li a.fb {
    background: url("../img/sprites.png") -144px -120px no-repeat;
  }
  .footer .footer-phone {
    float: left;
    width: 160px;
    margin-left: 85px;
    position: relative;
  }
  .footer .footer-phone span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 1px 1px #988c75;
  }
  .footer .footer-phone i {
    top: 35px;
    left: -32px;
    width: 21px;
    height: 21px;
    position: absolute;
    background: url("../img/footer-phone.png") 0 0 no-repeat;
  }
  .footer .footer-email {
    float: left;
    width: 160px;
    margin-left: 80px;
    position: relative;
  }
  .footer .footer-email a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #988c75;
  }
  .footer .footer-email i {
    top: 35px;
    left: -32px;
    width: 21px;
    height: 16px;
    position: absolute;
    background: url("../img/footer-mail.png") 0 0 no-repeat;
  }
  .footer .footer-www {
    float: right;
    width: 140px;
    position: relative;
  }
  .footer .footer-www a {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #988c75;
  }
  .footer .footer-www i {
    top: 35px;
    left: -32px;
    width: 22px;
    height: 22px;
    position: absolute;
    background: url("../img/footer-www.png") 0 0 no-repeat;
  }
}
/* Typography
   ========================= */
p {
  padding: 0;
  margin: 0 0 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-center {
  text-align: center !important;
}
