.card {
	padding-top: 5px;
	margin-bottom: 10px;

	.card-image {
	}

	.card-name {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 10px;
		line-height: normal;
	}

	li {
		padding-left: 0;
		margin-bottom: 10px;

		&.item1 {
			color: #8a8383;

			.card-image {
				width: 190px;
				margin-left: 65px;
				margin-bottom: 20px;
			}
		}

		&.item2 {
			color: #c2a02b;

			.card-image {
				width: 205px;
				margin-left: 55px;
				margin-bottom: 10px;
			}
		}

		&.item3 {
			color: #4bb54b;

			.card-image {
				width: 205px;
				margin-left: 55px;
				margin-bottom: 10px;
			}
		}

		&:after {
			display: none;
		}
	}

	@media  (min-width: @small) {
		margin-bottom: 0;

		li {
			float: left;
			width: 33.33%;

			.card-image {
				height: 170px;
			}

			&.item1 {

				.card-image {
					width: 190px;
					margin-left: 0;
					margin-bottom: 15px;
				}
			}

			&.item2 {

				.card-image {
					width: 190px;
					margin-left: 0;
					margin-bottom: 15px;
				}

				.card-name {
					padding: 0 10px;
				}
			}

			&.item3 {

				.card-image {
					width: 180px;
					margin-left: 0;
					margin-bottom: 15px;
				}

				.card-name {
					padding: 0 10px;
				}
			}
		}
	}

	@media  (min-width: @medium) {

		li {
			&.item2 {
				padding-left: 10px;
			}
			&.item3 {
				padding-left: 15px;

				.card-image {
					padding-top: 5px;
				}
			}
		}
	}

	@media  (min-width: @large) {

		padding-top: 0;

		li {

			.card-image {
				height: 235px;
			}

			.card-name {
				margin-bottom: 5px;
			}

			&.item1 {
				padding-left: 0;

				.card-image {
					width: 260px;
					padding-top: 0;
				}
			}

			&.item2 {
				padding-left: 20px;

				.card-image {
					width: 256px;
					padding-top: 0;
				}

				.card-name {
					margin-left: -50px;
				}
			}
			&.item3 {
				padding-left: 25px;

				.card-image {
					width: 238px;
					padding-top: 20px;
				}

				.card-name {
					margin-left: -10px;
				}
			}
		}
	}
}

.card-step-title {
	font-size: 22px;
	margin-bottom: 40px;

	@media  (min-width: @large) {
		font-size: 24px;
		margin-bottom: 25px;
	}
}

.card-step {

	li {
		min-height: 70px;
		padding-left: 90px;
		margin-bottom: 45px;

		.item-title {
			color: #99876a;
			font: 700 16px/18px @font1;
			margin-bottom: 18px;
		}

		p {
			color: #303030;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 20px;
		}

		&.item1 {
			background: url("../img/icon-auto.png") 0 0 no-repeat;
		}
		&.item2 {
			background: url("../img/icon-ring.png") 0 0 no-repeat;
		}
		&.item3 {
			background: url("../img/icon-order.png") 0 0 no-repeat;
		}
		&.item4 {
			background: url("../img/icon-manager.png") 0 0 no-repeat;
		}

		&:after {
			display: none;
		}
	}

	@media  (min-width: @small) {

		li {
			margin-bottom: 40px;
		}
	}

	@media  (min-width: @large) {

		li {
			margin-bottom: 30px;
		}
	}
}