.special {
	background: #fff;
	min-height: 100%;

	body {
		background: transparent;
		min-height: 100%;
	}
}

.club {
	height: 380px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	background: url("../img/special_club_360.jpg") top center no-repeat;

	.club-logo {
		width: 117px;
		height: 117px;
		margin: 23px auto 5px auto;
	}

	.club-name {
		color: #fff;
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 5px;
		text-transform: uppercase;
		font-family: 'PalatinoLinotype-Bold';
	}

	.club-text {
		color: #66ff66;
		font-size: 9px;
		font-weight: 600;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
}

.portal {
	height: 180px;
	position: relative;
	text-align: center;
	padding-top: 10px;
	background: url("../img/special_portal-590.jpg") -190px -35px no-repeat;

	&:before {
		top: 0;
		left: 0;
		z-index: 20;
		content: "";
		width: 100%;
		height: 35px;
		position: absolute;
		background: url("../img/special_shadov-360.png") 0 0 no-repeat;
	}

	.column {
		float: left;
		width: 50%;
		position: relative;
	}

	.portal-logo {
		width: 51px;
		height: 51px;
		overflow: hidden;
		margin: 10px auto 10px auto;
	}

	.portal-name {
		color: #fff;
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.portal-text {
		color: #8cbae9;
		font-size: 9px;
		line-height: 14px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.btn-blue {
		margin-top: 75px;
	}
}


@media  (min-width: @small) {
	.club {
		height: 460px;
		background: url("../img/special_club_590.jpg") top center no-repeat;

		.club-logo {
			width: 157px;
			height: 157px;
			margin: 43px auto 5px auto;
		}

		.club-name {
			font-size: 70px;
		}

		.club-text {
			font-size: 12px;
			margin-bottom: 25px;
		}
	}

	.portal {
		height: 240px;
		background: url("../img/special_portal-590.jpg") top center no-repeat;

		&:before {
			display: none;
		}

		.portal-name {
			font-size: 30px;
			line-height: 30px;
		}

		.portal-text {
			font-size: 11px;
			line-height: normal;
		}

		.column {
			width: 60%;
		}

		.btn-blue {
			margin-top: 0;
		}
	}

}

@media  (min-width: @medium) {
	.club {
		float: left;
		width: 410px;
		height: 280px;
		background: url("../img/special_club_640.jpg") top center no-repeat;

		.club-logo {
			width: 97px;
			height: 97px;
			margin: 13px auto 5px auto;
		}

		.club-name {
			font-size: 40px;
		}

		.club-text {
			font-size: 9px;
			margin-bottom: 15px;
		}
	}

	.portal {
		float: left;
		width: 230px;
		height: 280px;
		background: url("../img/special_portal-640.jpg") top center no-repeat;

		.portal-name {
			font-size: 21px;
			line-height: 21px;
		}

		.portal-text {
			font-size: 9px;
			line-height: normal;
			margin-bottom: 80px;
		}

		.column {
			width: 100%;
		}

		.btn-blue {
			margin-top: 0;
		}
	}
}

@media  (min-width: @large) {
	.club {
		width: 590px;
		height: 639px;
		background: url("../img/special_club_960.jpg") top center no-repeat;

		.club-logo {
			width: 147px;
			height: 147px;
			margin: 13px auto 5px auto;
		}

		.club-name {
			font-size: 67px;
		}

		.club-text {
			font-size: 12px;
			margin-bottom: 45px;
		}
	}

	.portal {
		width: 370px;
		height: 639px;
		background: url("../img/special_portal-960.jpg") top center no-repeat;

		.portal-logo {
			width: 97px;
			height: 97px;
			margin: 80px auto 20px auto;
		}

		.portal-name {
			font-size: 32px;
			line-height:35px;
		}

		.portal-text {
			font-size: 12px;
			line-height: normal;
			margin-bottom: 50px;
		}

		.column {
			width: 100%;
		}

		.btn-blue {
			margin-top: 0;
		}
	}
}



.screen {
	height: 560px;
	position: relative;
	padding: 22px 10px 0 10px;
	background: #000 url("../img/screen360.jpg") top center no-repeat;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		float: left;
		width: 25%;
		padding: 0 10px;
		margin-bottom: 6px;

		a {
			color: #fff;
			display: block;
			cursor: pointer;
			text-decoration: none;
		}

		span {
			height: 25px;
			font-size: 9px;
			display: block;
			overflow: hidden;
			line-height: 11px;
			text-align: center;
		}
	}

	.icon {
		width: 54px;
		margin: 0 auto 5px auto;
	}

	.screen-text {
		top: 495px;
		left: 0;
		right: 0;
		position: absolute;

		.column {
			float: left;
			width: 50%;
			text-align: center;

			&.column-left {
				padding-left: 26px;
				text-align: left;
			}
		}

		.screen-logo {
			width: 51px;
			height: 51px;
			display: none;
			overflow: hidden;
			margin: 10px auto 10px auto;
		}

		.screen-name {
			color: #fff;
			font-size: 18px;
			line-height: 24px;
			font-weight: 600;
			text-transform: uppercase;

		}

		.screen-choice {
			color: #8cbae9;
			font-size: 9px;
			line-height: 14px;
			text-transform: uppercase;
		}

		.screen-slogan {
			color: #8cbae9;
			font-size: 9px;
			display: none;
			line-height: 14px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
	}

	.slick-dots {
		top: -20px;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		overflow: hidden;
		position: relative;
		text-align: center;

		li {
			margin: 0 4px;
			padding: 0;
			width: 7px;
			height: 7px;
			float: inherit;
			overflow: hidden;
			background: #666;
			display: inline-block;
			.border-radius(50%);

			&.slick-active {
				background: #fff;
			}

			button {
				opacity: 0;
				outline: none;
				border: none;
				background: transparent;
			}
		}
	}

	@media  (min-width: @small) {
		height: 700px;
		padding: 30px 25px 0 25px;
		background: #000 url("../img/screen590.jpg") top center no-repeat;

		li {
			width: 20%;
			margin-bottom: 18px;
		}

		.icon {
			width: 64px;
		}

		.screen-text {
			top: 480px;
			left: 0;
			right: 0;
			position: absolute;

			.column {
				width: 60%;
				padding-left: 60px;

				&.column-left {
					padding-left: 60px;
					text-align: center;
				}
			}

			.screen-logo {
				width: 50px;
				height: 50px;
				display: block;
				margin: 0 auto 10px auto;
			}

			.screen-name {
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 10px;
			}

			.screen-choice {
				display: none;
			}

			.screen-slogan {
				font-size: 11px;
				display: block;
				line-height: 14px;
				margin-bottom: 15px;
			}
		}
	}

	@media  (min-width: @medium) {
		height: 280px;
		padding: 9px 70px 0 15px;
		background: #000 url("../img/screen640.jpg") top center no-repeat;

		li {
			width: 14.25%;
			margin-bottom: 3px;
		}

		.icon {
			width: 54px;
		}

		.screen-text {
			right: 0;
			top: 194px;
			left: 508px;
			position: absolute;

			.column {
				width: 100%;
				text-align: left;
				padding-left: 0;

				&.column-left {
					display: none;
					padding-left: 60px;
					text-align: center;
				}
			}
		}

	    .btn-goto {
		    padding-left: 0;
		    background-position: 16px 9px;

		    span {
			    display: none;
		    }
	    }
	}

	@media  (min-width: @large) {
		height: 640px;
		padding: 40px 460px 0 40px;
		background: #000 url("../img/screen960.jpg") top center no-repeat;

		li {
			width: 25%;
			padding: 0 22px;
			margin-bottom: 15px;
		}

		.icon {
			width: 64px;
		}

		.screen-text {
			top: 117px;
			left: 590px;
			right: 0;
			position: absolute;

			.column {
				text-align: center;

				&.column-left {
					display: block;
					padding-left: 0;
					text-align: center;
				}
			}

			.screen-logo {
				width: 97px;
				height: 97px;
				display: block;
				margin: 0 auto 32px auto;
			}

			.screen-name {
				color: #fff;
				font-size: 32px;
				line-height: 32px;
				margin-bottom: 20px;

			}

			.screen-slogan {
				color: #8cbae9;
				font-size: 10px;
				margin-bottom: 40px;
			}
		}

		.btn-goto {
			padding: 8px 40px 8px 18px;
			background-position: 92px 9px;

			span {
				display: inline;
			}
		}
	}
}

.club-nav {
	width: 448px;
	list-style: none;
	text-align: center;
	margin: 0 0 0 55px;
	padding: 30px 0 0 0;

	li {
		float: left;
		width: 112px;
		padding: 0 21px;
		margin-bottom: 12px;

		a {
			color: #fff;
			display: block;
			cursor: pointer;
			text-decoration: none;
		}

		img {
			margin-bottom: 9px;
		}

		span {
			height: 25px;
			font-size: 9px;
			display: block;
			overflow: hidden;
		}
	}
}

.special-nav-inner {



	.club {
		background-image: none !important;
	}
	.portal {
		padding-top: 40px;
		background-image: none !important;

		.portal-name {
			margin-bottom: 18px;
		}

		.portal-text {
			margin-bottom: 40px;
		}
	}
}