
@font-face {
  font-family: 'PalatinoLinotype-Bold';
  src: url('PalatinoLinotype-Bold.eot?#iefix') format('embedded-opentype'),  url('PalatinoLinotype-Bold.woff') format('woff'), url('PalatinoLinotype-Bold.ttf')  format('truetype'), url('PalatinoLinotype-Bold.svg#PalatinoLinotype-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
